<html>

    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css">
        <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,800italic,800,700italic,700,600italic,600' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="{{ asset('css/styles_javier.css') }}">
    </head>

    <body class="confirmation-background">
        <div class="col-md-5 col-md-offset-7 confirm">
            <div class="logo-confirm" style="    text-align: center;padding-bottom: 30px;">
                <img width="200px" src="{{ asset('images/logo-sq-color.svg') }}" alt=""/>
            </div>
            <h1>
                Gracias por registrar un negocio con nosotros ahora puedes acceder a tu Panel.
            </h1>
            <a href="{{ path('profile_negocios_panel') }}" class="btn-confirmation">
                Empezar
            </a>
        </div>


    </body>

</html>

