{% block title %}
    <title>Konstruye.pe | </title>
{% endblock title %}
{% block stylesheets %}
    {#{{ parent() }}#}
    {#Magnific Popup#}
    <link rel="stylesheet" href="{{ asset('css/magnific-popup.css') }}">
{% endblock stylesheets %}

<section>
    {#{{ dump(app.user) }}#}
    <header class="perfil">
        <div class="container-fluid position">
            {% include "FOSUserBundle:Profile:show_include_perfil_header.html.twig" %}
        </div>
    </header>

    <div>
        <div class="container">
            {% include "FOSUserBundle:Profile:show_include_menu_lateral.html.twig" %}
        </div>
    </div>
</section>
