<div class="menu">
    <div class="col-md-2">
        <div class="row">
            <div style="display: inline-block;">
                <div class="menu-seccion-izquierda">
                    <ul>
                        <li class="lista-seccion">
                            <a href="{{ path('show_profile_comments') }}">
                                <div>
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    <span style="margin-left: 3px">MIS COMENTARIOS</span>
                                </div>
                            </a>
                        </li>
                        <li class="lista-seccion">
                            <a href="{{ path('show_profile_negocios') }}">
                                <div>
                                    <i class="fa fa-archive" aria-hidden="true"></i>
                                    <span style="margin-left: 3px">MI COLECCIÓN</span>
                                </div>
                            </a>
                        </li>
                        <li class="lista-seccion">
                            <a href="{{ path('profile_public',{'id':app.user.id}) }}">
                                <div>
                                    <i class="fa fa-users" aria-hidden="true"></i>
                                    <span style="margin-left: 3px">MI PERFIL PUBLICO</span>
                                </div>
                            </a>
                        </li>
                        <li class="lista-seccion">
                            <a href="{{ path('profile_negocios_seletion') }}">
                                <div>
                                    <i class="fa fa-commenting-o" aria-hidden="true"></i>
                                    <span style="margin-left: 3px">REGISTRAR NEGOCIO</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>