{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="container">
        <div class="col-md-6 col-md-offset-3">
            <div class="contenedor-titulo-faq marging-top">
                <div>
                    <p class="titulo-faq">Preguntas Frecuentes </p>
                </div>
                <div class="contenedor-body-faq marging-top">
                    <div class="faq-pregunta">
                        <a href=""><i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como ser parte de Konstruye?</a>
                    </div>
                    <div class="faq-respuesta">
                        Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                    </div>
                </div>
                <div class="contenedor-body-faq">
                    <div class="faq-pregunta">
                        <a href=""><i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como subir mi primer negocio?</a>
                    </div>
                    <div class="faq-respuesta">
                        Phasellus placerat quam et placerat fringilla. Nunc laoreet tempor dolor, in gravida eros ultrices eu. Integer quam turpis, aliquet eget ultrices molestie, condimentum quis tortor. Mauris laoreet dolor non iaculis posuere. Donec commodo dui mauris, vitae venenatis justo tristique sed.
                    </div>
                </div>
                <div class="contenedor-body-faq">
                    <div class="faq-pregunta">
                        <a href=""><i class="fa fa-question-circle-o" aria-hidden="true"></i> ¿Cuales son las medidas de las imagenes que debo usar?</a>
                    </div>
                    <div class="faq-respuesta">
                        Morbi blandit quam at pulvinar congue. Integer posuere elit ac libero consectetur scelerisque. Vivamus id sapien cursus, ultrices quam sit amet, volutpat feliz Konstruye.
                    </div>
                </div>
                <div class="contenedor-body-faq">
                    <div class="faq-pregunta">
                        <a href=""><i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como ser parte de Konstruye?</a>
                    </div>
                    <div class="faq-respuesta">
                        Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                    </div>
                </div>
                <div class="contenedor-body-faq">
                    <div class="faq-pregunta">
                        <a href=""><i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como subir mi primer negocio?</a>
                    </div>
                    <div class="faq-respuesta">
                        Phasellus placerat quam et placerat fringilla. Nunc laoreet tempor dolor, in gravida eros ultrices eu. Integer quam turpis, aliquet eget ultrices molestie, condimentum quis tortor. Mauris laoreet dolor non iaculis posuere. Donec commodo dui mauris, vitae venenatis justo tristique sed.
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var faqRespuesta = $('.faq-respuesta').hide();

            $('.faq-pregunta > a').click(function(){
                faqRespuesta.slideUp();
                $(this).parent().next().slideDown();
                return false;
            });
        });
    </script>
{% endblock javascripts %}