{% extends 'FOSUserBundle::layout.html.twig' %}

{% block fos_user_content %}
    <div class="container">
        <div class="col-md-10 col-md-offset-1">
            <div class="row">
                <div class="contenedor-titulo-faq marging-top-lg">
                    <p class="titulo-faq">Preguntas <Strong>Frecuentes</Strong> </p>
                </div>
                <div class="panel-group  marging-top-lg">
                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como ser parte de Konstruye?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como subir mi primer negocio?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero. Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero. Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Cuales son las medidas de las imagenes que debo usar?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como manejar correctamente el panel de negocios?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                                Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como ser parte de Konstruye?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como subir mi primer negocio?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Cuales son las medidas de las imagenes que debo usar?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Como manejar correctamente el panel de negocios?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero. Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero. Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading faq-pregunta">
                            <a class="panel-title">
                                <i class="fa fa-question-circle" aria-hidden="true"></i> ¿Cuales son las medidas de las imagenes que debo usar?
                            </a>
                        </div>
                        <div class="panel-body faq-respuesta" >
                            Nulla facilisi. Vivamus vestibulum erat ut tristique vulputate. Donec mollis suscipit velit, id venenatis lacus elementum eget. In suscipit, risus eget hendrerit pharetra, leo leo consequat ante, sit amet scelerisque elit ante sit amet libero.
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            var faqRespuesta = $('.faq-respuesta').hide();
            $('.faq-respuesta:first').show();

            $('.faq-pregunta > a').click(function() {
                faqRespuesta.slideUp();

                if($(this).parent().next().css('display') == 'none'){
                    $(this).parent().next().slideDown();
                }else if($(this).parent().next().css('display') == 'block'){
                    $(this).parent().next().slideUp();
                }

            });
        });
    </script>
{% endblock javascripts %}