{% extends 'FOSUserBundle::layout.html.twig' %}
{#
 check website // http://www.adondevivir.com/propiedades/ocasion-casa-310-m2-entre-el-parque-el-olivar-y-av-51973011.html
#}
{% block stylesheets %}
    {{ parent() }}
{% endblock stylesheets%}
{#<link rel="stylesheet" href="{{ asset('css/bootstrap.min.css') }}">#}
{#<link rel="stylesheet" href="{{ asset('css/styles.css') }}">#}
{#<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,800italic,800,700italic,700,600italic,600' rel='stylesheet' type='text/css'>#}


{% block fos_user_content %}
{{ dump(negocio) }}
{#<div class="container">#}
    <div class="contenedor-inmueble">
        <section class="col-inmueble-1">
            <div class="datos-header">
                <div class="datos-anterior">
                    <a href="#"><i class="fa fa-arrow-left" aria-hidden="true"></i></a>
                </div>
                <div class="datos-direccion">
                    <h1>Proyecto Barcelona 400 - San Isidro</h1>
                    <p>Calle Tomas Edison 131 esquina con Calle Barcelona, San Isidro, Lima</p>
                </div>
                <div class="datos-icon-header">
                    <ul>
                        <li class="lista-header-icon"><i class="fa fa-flag" aria-hidden="true"></i></li>
                        <li class="lista-header-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                        <li class="lista-header-icon"><i class="fa fa-flag" aria-hidden="true"></i></li>
                        <li class="lista-header-icon"><i class="fa fa-heart-o" aria-hidden="true"></i></li>
                    </ul>
                </div>
            </div>
            <div class="datos-izquierda">
               <div class="datos-principales">
                   {#<div class="datos-principales-titulo">Datos Principales</div>#}
                   <h3 class="datos-principales-titulo">Datos Principales</h3>
                   <ul>
                       <li class="lista-datos-principales">
                           <span class="">
                               <i class=""></i> Proyecto Inmobiliario
                           </span>
                           <span></span>
                       </li>
                       <li class="lista-datos-principales">
                           <span class="">
                               <i class=""></i> Precio Desde
                           </span>
                           <span></span>
                       </li>
                       <li class="lista-datos-principales">
                           <span class="">
                               <i class=""></i> Precio en Dólares desde
                           </span>
                           <span></span>
                       </li>
                       <li class="lista-datos-principales">
                           <span class="">
                               <i class=""></i> 91m2 - 313m2 Área Total
                           </span>
                           <span></span>
                       </li>
                       <li class="lista-datos-principales">
                           <span class="">
                               <i class=""></i> 90m2 - 181m2 Área Techada
                           </span>
                           <span></span>
                       </li>
                       <li class="lista-datos-principales">
                           <span class="">
                               <i class=""></i> 1-3 Dormitorios
                           </span>
                           <span></span>
                       </li>
                       <li class="lista-datos-principales">
                           <span class="">
                               <i class=""></i> Hasta 3 Baños
                           </span>
                           <span></span>
                       </li>
                   </ul>
               </div>
            </div>
            <div class="datos-derecha">
                <div class="datos-descripcion">
                    <h3 class="datos-descripcion-titulo">Descripcion</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium aliquam aperiam asperiores, cumque deserunt, dignissimos dolorem exercitationem perspiciatis quo similique temporibus vel veritatis? Deleniti eum facilis harum nostrum nulla vel! Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem distinctio est nulla perspiciatis unde? Atque blanditiis, delectus explicabo fugit harum, itaque labore molestias nobis, quas quibusdam sapiente vitae voluptas! Nesciunt.</p>
                </div>
            </div>

        </section>
        <section class="col-inmueble-2">
            <div class="zona-precio">
                <div class="zona-precio-contenido">
                    <div class="precio">
                        <span class="titulo-zona-inmueble">Precio Desde</span>
                        <span class="precio-zona-inmueble"> S/. 9335,283</span>
                    </div>
                    <div class="zona-calcula-hipoteca">
                        <a class="calcula-hipoteca" href="#">CALCULA TU HIPOTECA</a>
                    </div>
                </div>
            </div>
            <div class="zona-contactanos">
                <div class="zona-contactanos-contenido">
                    <div class="zona-contactanos-header">
                        <a class="link-inmobiliaria" href="">
                            <span> NOMBRE EMPRESA </span>
                            <img src="" alt="" width="40px" style="outline: 1px solid red">
                        </a>
                    </div>
                </div>
            </div>
        </section>
    </div>
{#</div>#}
{% endblock fos_user_content %}