

{{ dump(negocios) }}

<ul>
{% for cmain in categorias_hijas %}
    <li>{{ cmain.nombre }}</li>
    <ul>
        {% for csub in cmain.children %}
        <li>{{ csub.nombre }}</li>
        {% endfor %}
    </ul>

{% endfor %}
</ul>
