{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="contenedor-confirmacion">
                <div class="contenedor-icon-confirmacion">
                    <i class="fa fa-check-circle animated tada infinite" aria-hidden="true"></i>
                </div>
                <div class="contenedor-confirmacion-cuenta">
                    <p>Se ha enviado un email a %email%. Contiene un enlace de activación que debes presionar para activar tu cuenta.</p>
                    {#<p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}</p>#}
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
