{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container">
        <div class="row">
            <div class="contenedor-confirmacion">
                <div class="contenedor-icon-confirmacion">
                    <i class="fa fa-envelope animated tada infinite" aria-hidden="true"></i>
                </div>
                <div class="contenedor-confirmacion-cuenta">
                    <p>Se ha enviado un email a <b>{{ user.email}}</b>. Contiene un enlace de activación que debes presionar para activar tu cuenta.</p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}
