

/*===============
SHOW INMUEBLE
================*/
.datos-header {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    position: relative;
    margin-top: 20px;
}
.datos-anterior {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.datos-anterior a {
    display: inline-block;
}
.datos-anterior a i {
    font-size: 25px;
}
.datos-direccion {
    display: inline-block;
    margin-left: 35px;
}
.datos-direccion h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    font-weight: 400;
}
.datos-direccion div p {
    display: inline-block;
}
.datos-icon-header {
    display: inline-block;
    position: absolute;
    right: 20px;
}
.lista-header-icon {
    display: inline-block;
}
.zona-precio {
    margin: 20px 0;
}
.zona-precio-contenido {
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    background-color: #fff;
}
.zona-precio-contenido span.precio-zona-inmueble {
    float: right;
    font-size: 28px;
    font-weight: 600;
}
.precio {
    overflow: hidden;
}
.calcula-hipoteca {
    display: block;
    text-align: right;
    color: #27bdf1;
    font-weight: normal;
    font-size: 14px;
    margin-top: 4px;
}
.zona-precio-contenido span.titulo-zona-inmueble {
    float: left;
    text-transform: uppercase;
    color: rgba(0,0,0,.5);
    font-weight: 500;
    line-height: 28px;
}
.zona-contactanos-contenido {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.zona-contactanos-contenido a.link-inmobiliaria {
    display: block;
    overflow: hidden;
    /*padding: 0 0 20px;*/
    position: relative;
}
.zona-contactanos-contenido a.link-inmobiliaria span {
    float: left;
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.zona-contactanos-contenido a.link-inmobiliaria img {
    float: right;
}
.zona-contactanos-contenido .zona-formulario {
    margin-top: 20px;
}
.datos-izquierda, .data-izquierda_b {
    padding:20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.data-izquierda_b .datos-descripcion-titulo {
    padding-bottom: 20px;
}
.data-izquierda_b .descripcion-negocio {
    font-size: 16px;
    line-height: 20px;
    /*text-align: justify;*/
}
.datos-izquierda .lista-datos-principales {
    line-height: 28px;
    font-size: 16px;
}
.datos-izquierda .lista-datos-principales i {
    color: #A0A0A0;
    font-weight: bold;
}
.datos-izquierda .datos-principales-titulo {
    /*border: 1px solid #d1d1d1;*/
    padding-bottom: 20px;
}
.datos-ubicacion {
    padding:20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    margin-top: 20px;
}
.zona-telefono {
color: #27bdf1;
font-weight: normal;
font-size: 14px;
}
.top-margin {
    margin-top: 20px;
}
.padding-left-right {
    padding-right: 0;
    padding-left: 0;
}
.padding-right {
    padding-right: 0;
}
.datos-servicios .contenedor-servicios {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.datos-descripcion-titulo ,.datos-titulo-comentarios, .datos-principales-titulo, .datos-titulo-generales, .datos-titulo-servicios, .datos-titulo-ubicacion {
    color: #1C9CD9;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
/*.data-derecha .datos-servicios .fa-check, .data-derecha .datos-generales .fa-check {*/
    /*color: #a0a0a0;*/
/*}*/
/*.data-derecha .datos-generales {*/
    /*!*margin-top: 20px;*!*/
    /*max-width: 380px;*/
/*}*/
.datos-generales .contenedor-generales {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}


/*===========================
Show Inmueble - Comentarios
=============================*/
.show-perfil-image-comentario {
    padding-right: 0;
    padding-left: 20px;
}
.show-perfil-image-comentario img {
    display: block;
    margin: 0 auto;
}
.show-perfil-comentario-usuario {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    max-width: 590px;
    min-height: 82px;
    overflow: hidden;
}
.show-perfil-comentario-usuario .titulo-rating h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}
.show-perfil-comentario-usuario .titulo-rating span {
    display: inline-block;
}
.comentario_editar {
    margin-top: 5px;
}
.show-perfil-comentario-usuario .date {
    color: #A0A0A0;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 14px;
    position: absolute;
    top: 12px;
    right: 11px;
}

/*=============
Perfil
=============*/
.perfil {
    color: white;
}
.perfil .position {
    position: relative;
}
.perfil .imagen-fondo-perfil.fondo-defaults {
    background-image: url("../images/dark_brick_wall.png");
    min-height: 130px;
    position: absolute;
    width: 100%;
    z-index: -1;
}
.perfil .flex-container-perfil {
    min-height: 130px;
}
.perfil figure.perfil-fondo-izquierda {
    float: left;
    margin-top: 1rem;
    margin-left: 3.4rem;
}
.perfil figure.perfil-fondo-izquierda img {
    width: 100px;
    border-radius: 50%;
    border: 2px solid #fff;
    padding: 2px;
}
.perfil figure.perfil-fondo-izquierda a {
    position: relative;
    right: 25px;
    bottom: 13px;
    background-color: #fff;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    display: inline-block;
}
.perfil figure.perfil-fondo-izquierda a i {
    color: #000;
    font-size: 15px;
    position: absolute;
    left: 8px;
    top: 5px;
}
.perfil .perfil-fondo-derecha {
    float: right;
    margin-top: 2rem;
    margin-right: 2.3rem;
}
.perfil .perfil-fondo-derecha p {
    font-size: 22px;
    font-weight: bold;
    text-align: right;
}
.perfil .perfil-fondo-derecha p:nth-child(2) {
    margin-top: 15px;
    display: inline-block;
}
.perfil .perfil-fondo-derecha strong {
    color: #009fe3;
}
.perfil .perfil-fondo-derecha .dropdown-margin {
    margin: 6px -165px 0px;
    width: 200px;
    height: 110px;
}
.perfil .perfil-fondo-derecha .dropdown-margin li {
    margin-bottom: 10px;
}
.perfil .perfil-fondo-derecha .dropdown i {
    cursor: pointer;
}
.perfil .dropdown-margin li i {
    color: #000;
    width: 20px;
    text-align: center;
}
.perfil .dropdown-margin li a {
    display: inline-block;
    width: 100%;
}
.perfil .imagen-fondo-perfil .flex-container-perfil {
    display: flex;
    justify-content: space-between;
    height: 130px;
    align-items: center;
}
.menu .menu-seccion-izquierda {
    background-color: #1C9CD9;
    border-radius: 0 0 10px 10px;
    display: inline-block;
    /*padding: 20px;*/
    text-align: center;
    width: 73.2%;
    max-width: 549px;
}
.menu .menu-seccion-izquierda .lista-seccion {
    display: inline-block;
    width: 32.333333%;
    padding: 20px;
    position: relative;
}
.menu .menu-seccion-izquierda .lista-seccion:after {
    content: " ";
    height: 30px;
    position: absolute;
    width: 1px;
    top: 20px;
    right: 0;
    background: #fff;
}
.menu .menu-seccion-izquierda .lista-seccion:nth-child(3):after {
    display: none;
}
.menu .menu-seccion-izquierda .lista-seccion a div,
.menu .menu-seccion-derecha div a div {
    margin-bottom: 9px;
}
.menu .menu-seccion-izquierda .lista-seccion i,
.menu .menu-seccion-derecha i {
    font-size: 20px;
}
.menu-seccion-izquierda .lista-seccion a,
.menu-seccion-derecha div a {
    color: #fff;
    font-size: 13px;
    display: inline-block;
}
.menu .menu-seccion-derecha {
    background-color: #39b54a;
    border-radius: 0 0 10px 10px;
    display: inline-block;
    padding: 20px;
    text-align: center;
    max-width: 183px;
    width: 24.4%;
    float: right;
    margin-right: 10px;
}
.menu .menu-seccion-derecha:hover {
    background-color: #277732;
}

/*=======================
Perfil - Cambiar Datos
=======================*/
.contenedor-formulario-editar {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    padding: 20px 40px;
    margin-top: 42px;
}
.contenedor-formulario-editar .contenedor-validacion {
    font-size: 12px;
    margin-bottom: 15px;
}
.contenedor-formulario-editar .form-group label {
    color: rgba(0,0,0,.5);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 5px;
}
.contenedor-formulario-editar ul li {
    color: #1c9cd9;
    font-size: 12px;
    font-weight: 700;
    margin: 8px 0;
}
.contenedor-formulario-editar .contenedor-editar-titulo h1 {
    color: #1c9cd9;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 30px 0;
}

/*===========================
Cambio de Contraseña
===========================*/
.contenedor-formulario-contraseña {
    margin-top: 42px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    padding: 20px 40px;
}
.contenedor-formulario-contraseña .contenedor-contraseña-titulo h1 {
    color: #1c9cd9;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 30px 0;
}
.contenedor-formulario-contraseña .contenedor-validacion {
    font-size: 12px;
    margin-bottom: 15px;
}
.contenedor-formulario-contraseña .form-group label {
    color: rgba(0,0,0,.5);
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 4px;
}
.contenedor-formulario-contraseña ul li {
    color: #1c9cd9;
    font-size: 12px;
    font-weight: 700;
    margin: 8px 0;
}

/*===========================
Todos tus Comentarios
===========================*/
.marging-top {
    margin-top: 20px;
}
.image-comentario {
    padding-right: 0;
}
.image-comentario img {
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    margin-right: auto;
    margin-left: auto;
}
.comentario-usuario {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    max-width: 590px;
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    min-height: 82px;
    overflow: hidden;
}
.comentario-usuario .titulo-rating h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}
.comentario-usuario .titulo-rating span {
    display: inline-block;
}
.comentario_editar {
    margin-top: 5px;
}
.comentario-usuario .date {
    color: #A0A0A0;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 14px;
    position: absolute;
    top: 12px;
    right: 11px;
}
.comentario_editar p {
    font-size: 14px;
    line-height: 17px;
}

/*==================================
Mensaje de Alert - Ninguno Elemento
===================================*/
.alerta-mensaje-ninguno {
    text-align: center;
}
.alerta-mensaje-ninguno p i {
    text-align: center;
    font-size: 50px;
    margin-bottom: 15px;
    color: #1C9CD9;
}