

/*===============
SHOW INMUEBLE
================*/
.datos-header {
    padding: 20px;
    background-color: #fff;
    margin-bottom: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    position: relative;
    margin-top: 20px;
}
.datos-anterior {
    display: inline-block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.datos-anterior a {
    display: inline-block;
    color: #009FE3;
}
.datos-anterior a i {
    font-size: 25px;
}
.datos-direccion {
    display: inline-block;
    margin-left: 35px;
}
.datos-direccion h1 {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 7px;
    font-weight: 400;
}
.datos-direccion div p {
    display: inline-block;
}
.datos-icon-header {
    display: inline-block;
    position: absolute;
    right: 20px;
}
.lista-header-icon {
    display: inline-block;
}
.zona-precio {
    margin: 20px 0;
}
.zona-precio-contenido {
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    background-color: #fff;
}
.zona-precio-contenido span.precio-zona-inmueble {
    float: right;
    font-size: 28px;
    font-weight: 600;
    color: #009FE3;
}
.precio {
    overflow: hidden;
}
.calcula-hipoteca {
    display: block;
    text-align: right;
    color: #009FE3;
    font-weight: normal;
    font-size: 14px;
    margin-top: 4px;
}
.zona-precio-contenido span.titulo-zona-inmueble {
    float: left;
    text-transform: uppercase;
    color: rgba(0,0,0,.5);
    font-weight: 500;
    line-height: 28px;
}
.zona-contactanos-contenido {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.zona-contactanos-contenido a.link-inmobiliaria {
    display: block;
    overflow: hidden;
    /*padding: 0 0 20px;*/
    position: relative;
}
.zona-contactanos-contenido a.link-inmobiliaria span {
    float: left;
    font-size: 20px;
    margin-bottom: 7px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.zona-contactanos-contenido a.link-inmobiliaria img {
    float: right;
}
.zona-contactanos-contenido .zona-formulario {
    margin-top: 20px;
}
.datos-izquierda, .data-izquierda_b {
    padding:20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.data-izquierda_b .datos-descripcion-titulo {
    padding-bottom: 20px;
}
.data-izquierda_b .descripcion-negocio {
    font-size: 16px;
    line-height: 20px;
    /*text-align: justify;*/
}
.datos-izquierda .lista-datos-principales {
    line-height: 28px;
    font-size: 16px;
}
.datos-izquierda .lista-datos-principales i {
    color: #A0A0A0;
    font-weight: bold;
}
.datos-izquierda .datos-principales-titulo {
    /*border: 1px solid #d1d1d1;*/
    padding-bottom: 20px;
}
.datos-ubicacion {
    padding:20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
    margin-top: 20px;
}
.zona-telefono {
    color: #009FE3;
    font-weight: normal;
    font-size: 14px;
}
.top-margin {
    margin-top: 20px;
}
.padding-left-right {
    padding-right: 0;
    padding-left: 0;
}
.padding-right {
    padding-right: 0;
}
.datos-servicios .contenedor-servicios {
    margin-top: 20px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}
.datos-descripcion-titulo , .datos-principales-titulo, .datos-titulo-generales, .datos-titulo-servicios, .datos-titulo-ubicacion {
    color: #009FE3;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 20px;
}
.datos-titulo-comentarios {
    color: #009FE3;
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 5px;
}
/*.data-derecha .datos-servicios .fa-check, .data-derecha .datos-generales .fa-check {*/
/*color: #a0a0a0;*/
/*}*/
/*.data-derecha .datos-generales {*/
/*!*margin-top: 20px;*!*/
/*max-width: 380px;*/
/*}*/
.datos-generales .contenedor-generales {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 1px 2px rgba(0,0,0,.4);
}


/*===========================
Show Inmueble - Comentarios
=============================*/
.show-perfil-image-comentario {
    padding-right: 0;
    padding-left: 20px;
}
.show-perfil-image-comentario img {
    display: block;
    margin: 0 auto;
}
.show-perfil-comentario-usuario {
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 5px;
    padding: 10px;
    position: relative;
    margin-bottom: 10px;
    max-width: 590px;
    min-height: 82px;
    overflow: hidden;
}
.show-perfil-comentario-usuario .titulo-rating h3 {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
}
.show-perfil-comentario-usuario .titulo-rating span {
    display: inline-block;
}
.comentario_editar {
    margin-top: 5px;
}
.show-perfil-comentario-usuario .date {
    color: #A0A0A0;
    font-style: italic;
    margin-bottom: 10px;
    font-size: 14px;
    position: absolute;
    top: 12px;
    right: 11px;
}


/*=============
Formularios
=============*/
.btn-konstruye2{
    background:#009FE3 ;
    color: #fff;
}
.btn-konstruye2:hover{
    background: #008CC4;
    color: #fff;
}


.comprayventa{
    background: url("../images/fondo2.jpg") center/cover;
}
.constructora{
    background: url("../images/register_inmobiliarias.jpg") center/cover;
}
.especialista{
    background: url("../images/register_especialistas.jpg") center/cover;
}
.proveedores{
    background: url("../images/register_proveedores.jpg") center/cover;
}
.return{
    position: absolute;
    padding: 15px;
    border-radius: 50%;
    background: #009FE3;
    border: 3px solid transparent;
    font-size: 25px;
    left: -30px;
    color: #fff;
    bottom: -30px;
    transition: all .5s ease;
}
.return:hover{
    background: #fff;
    color: #009FE3;
    border: 3px solid #009FE3;
}
.return i{
    width: 25px;
    height: 25px;
}
.form-negocios{
    border-radius: 9px;
    box-shadow: 0 0 0 5px rgba(0, 159, 227,.2);
    width: 600px;
    padding: 25px 15px;
    background: #fff;
    border: solid 3px #009FE3;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
}
.form-negocios .logotipo{
    text-align: center;
}
.titulo-registro{
    position: absolute;
    left: 43%;
    z-index: -1;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0,0,0,.2);
    padding: 10px 21px 10px 145px;
    top: 50%;
    border-radius: 5px;
    margin: 10px;
    transform: translate(0%,-50%);
}
.titulo-registro h1{
    font-size: 40px;
}
.titulo-registro h2{
    font-size: 30px;
    margin-top: 10px;
}
.titulo-registro p{
    width: 600px;
    float: right;
    padding: 20px 0;
    font-weight: 500;
    text-transform: lowercase;
}


.form-negocios .required p{
    padding: 15px 14px;
    opacity: .5;
}
.form-negocios label{
    color: #009fe3;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}

.form-negocios .form-group .alert ul{
    display: inline-block;
    padding-left: 8px;
}
.form-negocios .form-group .alert li{
    font-size: 14px;
}
.comprayventa .form-negocios textarea{
    resize: none;
    height: 104px;
}
.constructora .form-negocios textarea{
    resize: none;
    height: 176px;
}
.especialista .form-negocios textarea{
    resize: none;
    height: 176px;
}
.proveedores .form-negocios textarea{
    resize: none;
    height: 176px;
}

/*=======================
Facebook - Login
========================*/
.fb-button-login {
    background: #5474AB;
    width: 100%;
    height: 40px;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.fb-button-login i {
    padding-left: 20px;
    position: absolute;
    left: 40px;
    top: 9px;
    font-size: 24px;
}
.fb-button-login strong{
    font-weight: bold;
}

/*=======================
Seleccion Negocios
========================*/
.seccion-image-logo{
    text-align: center;
    margin: 5% auto;
}
.background-negocios {
    background-image: url('../images/assets/brickwall.png');
    height:100%;
}
.background-negocios .negocios i {
    font-size: 80px;
}
.background-negocios .negocio{
    margin: 15px 0;
    height: 300px;
}
.background-negocios .negocio:nth-child(3) img{
    width: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.background-negocios .negocio a {
    display: inherit;
    border-radius: 0 0 12px 12px;
    border: 2px solid;
    transition: all .5s ease;
}

.background-negocios .negocio:first-child a{
    background: url(http://konstruye.pe/images/register_proveedores.jpg) center/cover;
    background-size: 210%;
    transition: all .3s ease-out;
}
.background-negocios .negocio:first-child a:hover{
    background-size: 230%;
}

.background-negocios .negocio:nth-child(2) a{
    background: url(http://konstruye.pe/images/fondo2.jpg) center/cover;
    background-size: 210%;
    transition: all .3s ease-out;
}
.background-negocios .negocio:nth-child(2) a:hover{
    background-size: 230%;
}
.background-negocios .negocio:nth-child(3) a{
    background: url(http://konstruye.pe/images/register_especialistas.jpg) center/cover;
    background-size: 210%;
    transition: all .3s ease-out;
}
.background-negocios .negocio:nth-child(3) a:hover{
    background-size: 230%;
}
.background-negocios .negocio:nth-child(4) a{
    background: url(http://konstruye.pe/images/register_inmobiliarias.jpg) center/cover;
    background-size: 210%;
    transition: all .3s ease-out;
}
.background-negocios .negocio:nth-child(4) a:hover{
    background-size: 230%;
}

.background-negocios .negocio .top{
    height: 80%;
    position: relative;

}

.background-negocios .negocio  .top i{
    font-size: 80px;
    position: absolute;
    top: 50%;
    color: rgba(0,0,0,.7);
    left: 50%;
    transform: translate(-50%,-50%);
}
.background-negocios .negocio  .bottom{
    height: 20%;
    text-align: center;
    padding: 10px;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    text-transform: uppercase;
    background: rgba(0,0,0,.5);
    border-radius: 0 0 10px 10px;
}
.background-negocios .negocio .bottom p{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
/*=============
Mejores Proveedores
=============*/
.mejores_tittle{
    padding: 15px 0;
    color: #1C9CD9;
    text-align: center;
    font-size: 22px;
    letter-spacing: -.9px;
    text-transform: capitalize;
    font-weight: bold;
}
.mejores_tittle span{
    color: rgba(0,0,0,.6);
}
.list-mejores{
    padding: 10px;
    background: rgba(48,189,239,.2);
    margin-bottom: 20px;
}

.list-mejores .content_slider_wrapper{
    max-height: 200px;
}
.list-mejores .content_slider_text_block_wrap span{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}



/*=============
Detalle Negocio
=============*/




.datos-detail .botones-sociales{
    padding: 10px;
}
.datos-detail{
    height: 100px;
    background-color: #fff;
}
.datos-detail .logo{
    text-align: center;
    padding: 10px;
}
.datos-detail .titulo-negocio{
    padding-top: 5px;
    line-height: 50px;
}
.datos-detail .titulo-negocio h1{
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    color: rgba(0,0,0,.6);
}
.datos-detail .contacto{
    line-height: 30px;
}
.datos-detail .contacto span{
    font-size: 15px;
    padding-right: 12px;
}
.datos-detail .contacto span i{
    padding-right: 2px;
    color: #1C9CD9;
}
.datos-detail .contactenos_button button{
    width: 100%;
    background: #1C9CD9;
    text-transform: uppercase;
    font-weight: 100;
    margin: 5px 0;
    color: #fff;
}
.social-icons{
    text-align: center;
}
.social-icons a{
    text-decoration: none;
    font-size: 14px;
}

.social-icons a:first-child .fa-stack-2x{
    color: #3b5998;
}
.social-icons a:nth-child(2) .fa-stack-2x{
    color: #00aced;
}
.social-icons a:nth-child(3) .fa-stack-2x{
    color: #fbad50;
}
.social-icons a:last-child .fa-stack-2x{
    color: #dd4b39;
}
.logo_detail_section #rateYo{
    margin: 5px auto;
}
.detail_description{
    margin: 10px auto;
    text-align: center;
}

.box-description .about-us-text{
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
.box-description .about-us-text h1{
    font-size: 30px;
    color: rgba(0,0,0,.6);
}

.box-description .about-us-text span{
    color: #009fe3;
}

.box-description{
    display: inline-block;
    background: #fff;
    padding: 20px;
}

.proyects-links{
    text-align: center;
    margin: 20px auto;
}
.proyects-links img{
    padding: 0 10px;
}
.proyect-slider{
    margin: 10px auto;
}

.googlemaps img{
    margin: 30px auto;
}
.googlemaps{
    margin-top: 30px;
    margin-bottom: 30px;
}


/*=============
Producto Page
=============*/
.proyect-slider{
    background: #fff;
    padding: 20px;

}
.proyect-slider h1{
    font-size: 30px;
    color: #009FE3;
    margin-top: 10px;
    margin-bottom: 25px;
    text-align: center;
    font-weight: bold;
}
.proyect-slider h1 span{
    color: rgba(0,0,0,.6);
}


.product-section .tittle{
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    color: #009FE3;
    margin: 10px 0;
}

.product-section{
    margin-top: 20px;
}
.product-content{
    background: #fff;
    padding: 20px;
}
.product-section .producto-box{
    text-align: center;
    margin: 10px auto;
}
.product-section .producto-box a{
    text-decoration: none;
}
.product-section .producto-box  h1{
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #009FE3;
}
.product-section .producto-box  h2{
    font-style: italic;
    margin: 5px 0;
    color: rgba(0,0,0,.5);
}
.product-section .producto-box p{
    color: #009FE3;
}

/*=============
Filtros
=============*/
.list-group{
    margin-top: 15px;
}
.list-group .tittle-disable{
    background: #30BDEF;
    color: #fff;
}
.list-group .tittle-disable:hover{
    background: #30BDEF;
    color: #fff;
}
.table-filtros{
    background: #fff;
    padding: 15px;
    border-top: solid 1px rgba(28, 156, 217,.3);
    border-bottom: solid 1px rgba(28, 156, 217,.3);
    margin: 10px;
    font-size: 13px;
}
.table-filtros table{
    float: right;
}
.table-filtros th{
    margin: 0 10px;
    display: inline-block;
}
.table-filtros th a{
    color: #cacaca;
    transition: all .5s;
}
.table-filtros th a:hover{
    color: #009FE3;
}
.table-filtros th.sorted{
    font-weight: 600;
}
.table-filtros th.sorted a{
    color: #009FE3;
}

/*=============
Listado de Negocios
=============*/
.body-negocios{
    background: #fff;
    margin: 15px 0;
    padding: 10px;
}
.negocio-box{
    border-radius: 5px;
    background: #fff;
    box-shadow: 0 0 0 1px rgba(0,0,0,.15);
    border-bottom: 2px solid #1C9CD9;
    min-height: 400px;
    margin: 15px 0;
}
.negocio-box .banner{
    max-height: 150px;
    overflow: hidden;
    border-radius: 5px 5px 0 0;
}
.negocio-box .banner img{
    position: relative;
    transform: translate(-50%,0%);
    left: 50%;
}
.negocio-box .datos .middle-section{
    position: relative;
    top: -52px;
}
.negocio-box .datos .middle-section img{
    width: 80px;
    margin: 0 20px;
    box-shadow: 0 0 3px rgba(0,0,0,.5);
}
.negocio-box .datos .middle-section .rateYo_negocios{
   display: inline-block;
}
.negocio-box .datos .detalle-datos{
    margin-top: -60px;
    padding: 18px;
}
.negocio-box .datos .detalle-datos a{
    color: #1C9CD9;
    font-size: 16px;
    font-weight: 700;
}
.negocio-box .datos .detalle-datos a h1{
    padding: 5px 0;
}
.negocio-box .detalle-datos p {
    font-size: 14px;
    padding: 3px 0;
    line-height: 20px;
}
.detalle-datos p i {
    color: #1C9CD9;
    width: 15px;
    text-align: center;
}
.precio-listado{
    position: absolute;
    border-radius: 5px 5px 0 0;
    bottom: 17px;
    background: #009fe3;
    padding: 10px !important;
    left: 50%;
    width: 77%;
    text-align: center;
    transform: translate(-50%);
    font-size: 18px !important;
    color: #fff;
    font-weight: bold;
}


/*=============
Buscador Principal
=============*/

.buscador-principal{
    width: 55%;
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0, 159, 227,.5);
    padding: 20px;
    border-radius: 5px;
}

.buscador-principal form input{
    width: 60%;
    line-height: 40px;
    height: 40px;
    border: none;
    color: rgba(0,0,0,.7);
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
}
.buscador-principal .bootstrap-select{
    width: 39% !important;
    background: #fff;
    border-radius: 5px;
    margin-top: -3px;
}
.buscador-principal .bootstrap-select.open{
    background: #fff;
}
.buscador-principal .bootstrap-select button{
    width: 100%;
    border: 0;
    height: 40px;
    color: rgba(0, 0, 0, .7);
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 5px;
}

.buscador-principal #buscador1 i, .buscador-principal #buscador2 i{
    pointer-events: none;
    position: absolute;
    right: 38px;
    z-index: 9;
    background:#009FE3;
    color: #fff;
    border-radius: 0 3px 3px 0;
    top: 50%;
    transform: translate(58%,-50%);
    width: 30px;
    height: 40px;
    text-align: center;
}
#buscador2{
    display: none;
}
.buscador-principal form i:before{
    line-height: 40px;
}

.buscador-principal #button1{
    position: absolute;
    top: -46px;
    left: 20px;
    font-weight: 500;
    color: rgba(255,255,255,.5);
    border-radius: 5px 5px 0 0;
    padding: 15px 20px;
    background: rgba(0, 0, 0,.2);
}

.buscador-principal #button2{
    position: absolute;
    top: -46px;
    font-weight: 500;
    color: rgba(255,255,255,.5);
    left: 250px;
    border-radius: 5px 5px 0 0;
    padding: 15px 20px;
    background: rgba(0, 0, 0,.2);
}
.buscador-principal #button1.active,.buscador-principal #button2.active{
    background: rgba(0, 159, 227,.5);
    color: #fff;
}

/*=============
Nave Stiky
=============*/
.buscador_principal2{
    padding: 5px;
    background: #30BDEF;
    border-radius: 5px;
    position: relative;
}
.buscador_principal2 form{
    display: inline-block;
}
#search-cop2{
    position: absolute;
    left: 50%;
    transform: translate(-50%,10%);
    width: 50%;
}
#search-cop2 form{
    width: 88%;
}
#search-cop2 form input{
    width: 60%;
    line-height: 35px;
    height: 35px;
    border: none;
    color: rgba(0,0,0,.7);
    padding-left: 10px;
    font-size: 16px;
    border-radius: 5px;
}
#search-cop2 form .bootstrap-select{
    width: 39% !important;
    background: #fff;
    border-radius: 5px;
    margin-top: -3px;
}
#search-cop2 form .bootstrap-select.open{
    background: #fff;
}
#search-cop2 form  .bootstrap-select button{
    width: 100%;
    border: 0;
    height: 35px;
    color: rgba(0, 0, 0, .7);
    -webkit-appearance: none;
    padding-left: 10px;
    border-radius: 5px;
}

.nav-principal2 .logi-reg{
    display: inline-block;
    float: right;
    padding-top: 6px;
}

#registro{
    background: #1C9CD9;
    padding: 7px 10px;
    border-radius: 5px;
    color: #fff;
}
.nav-principal2 .login-stiky{
    text-align: center;
}

.nav-principal2 .login-stiky #registro2{
    background: #fff;
    padding: 7px 20px;
    font-weight: 500;
    margin-bottom: 10px;
    border-radius: 5px;
    color: #1C9CD9;
}


.logi-reg a{
    text-decoration: none;
}
.logi-reg .login-stiky a{
    display: block;
    color: #fff;
}
.logi-reg .drop-menu{
    width: 200px;
    height: 150px;
    left:-61px;
    padding: 0px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
}
.logi-reg .drop-menu a{
    margin: 5px auto;
    width: 100%;
    display: inline-block;
    height: 35px;
    color: rgba(0,0,0,.5) !important;
    position: relative;
    padding-left: 40px;
    padding-top: 8px;
    text-align: left;
    transition: all .5s;
}
.logi-reg .drop-menu a:hover{
    background: #1C9CD9;
    color: #fff !important;
}
.logi-reg .drop-menu a:hover i{
    color: #fff;
}
.logi-reg .drop-menu a i{
    position: absolute;
    left: 15px;
    margin-right: 8px;
    color: #1C9CD9;
    font-size: 21px;
    top: 8px;
    width: 30px;
    display: inline-block;
    transition: all .5s;
}



.logi-reg .drop-menu a:before{
    content: "| ";
    display: inline;
}

.logi-reg .dropdown .btn-default{
    border: none;
}
.logi-reg .dropdown .btn-default:hover, .logi-reg .dropdown .btn-default:focus, .logi-reg .dropdown .btn-default:active{
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
}

.logi-reg .dropdown-menu li{
    line-height: normal;
}
/*=============
Dashboard Negocios
=============*/
.editar{
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    padding: 10px;
    z-index: 9;
    font-size: 22px;
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s;
}
.editar:hover{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}
.editar:focus{
    color: #fff;
    text-decoration: none;
}


.eliminar{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: rgba(0,0,0,.5);
    padding: 10px;
    z-index: 9;
    font-size: 22px;
    color:#fff;
    border-radius: 5px;
    text-decoration: none;
    transition: all .5s;
}
.eliminar:hover{
    font-size: 25px;
    color: #fff;
    text-decoration: none;
}
.eliminar:focus{
    color: #fff;
    text-decoration: none;
}





.bienvenido-dashboard{
    position: absolute;
    top: 50%;
    text-align: center;
    left: 50%;
    transform: translate(-50%,60%);
}
.bienvenido-dashboard p{
    font-size: 25px;
    text-align: center;
    color: rgba(0,0,0,.5);
    margin-top: 15px;
    font-weight: 600;
}
.bienvenido-dashboard p strong{
    color: #009fe3;
}
.confirmation-background{
    background: url('../images/especialista_home.jpg') left center no-repeat;
    background-size: contain;
}
.confirm{
    position: absolute;
    top: 50%;
    right: 5%;
    transform: translate(0,-50%);
    text-align: right;
}
.confirm h1{
    color: rgba(0,0,0,.7);
    font-weight: bold;
}
.confirm a{
    text-decoration: none;
    background: #009fe3;
    padding: 10px 20px;
    display: inline-block;
    color: #fff;
    font-size: 20px;
    border-radius: 10px;
    transition: all .5s;
}
.confirm a:hover{
    background-color: #008cc4;
}


.top-seccion{
    background: #fff;
    border-bottom: solid 1px #f1f1f1;
    height: 50px;
}
.top-seccion ul{
    margin: 0;
}
.top-seccion ul li{
    list-style: none;
    display: inline-block;
}
.header-logo{
    position: fixed;
    width: 235px;
    background-color: #232323;
    float: left;
}
.header-logo img{
    height: 50px;
    width: auto;
}
.header-logo h1{
    font-size: 20px;
    float: right;
    width: 50px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
    padding: 0 15px;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
}
.header-logo .hl-p{
    background: #009FE3;
}
.header-logo .hl-i{
    background: #5CB85C;
}
.header-logo .hl-c{
    background: #c30000;
}
.header-logo .hl-e{
    background: #d58512;
}


.user-welcome{
    padding: 10px;
    height: 70px;
    border-bottom: solid 1px #232323;
}
.user-welcome img{
    float: left;
    border-radius: 10px;
    margin-right: 10px;
}

.user-welcome .title h2{
    font-size: 12px;
    margin: 0;
    padding: 3px 0 5px 0;
    color: #d6d6d6;
}
.user-welcome .title h3{
    font-size: 14px;
    margin: 0;
    font-weight: bold;
    color: #d6d6d6;
}
.left-menu{
    width: 235px;
    background: #2A2A2A;
    position: fixed;
    z-index: 8;
    height: 100%;
    float: left;
}

.menu-dashboard-principal ul{
    padding: 0;
}
.menu-dashboard-principal ul li{
    list-style: none;
}
.menu-dashboard-principal ul li a{
    color: #fff;
    padding: 10px 0;
    display: inline-block;
    text-decoration: none;
    transition: all .2s;
}
.menu-dashboard-principal ul li a:hover{
    color: rgba(255, 255, 255, .85);

}

.menu-dashboard-principal ul li.current a{
    color: rgba(255, 255, 255, .85);
}


.menu-dashboard-principal>ul>li>a{
    border-bottom: solid 1px rgba(255,255,255,.05);
    width: 100%;
    color: #737373;
    padding: 15px 10px;
}
.menu-dashboard-principal .menu_level_1{
    background: #232323;
}
.menu-dashboard-principal .menu_level_1 li{
    padding-left: 10px;
}
.menu-dashboard-principal .menu_level_1 li a{
    color: #737373;
    padding: 10px;
}
.content-dashboard{
    position: relative;
    height: 100%;
    margin-left: 240px;
}
.header-left-select-negocio{
    float: left;
    width: 500px;
    padding: 10px 0;
    margin-left: 240px;
    position: relative;
}
.header-left-select-negocio p{
    float: left;
    line-height: 30px;
    margin: 0;
    margin-right: 10px;
    color: rgba(0,0,0,.7);
}
.header-left-select-negocio select option{
    margin: 10px 0;
}
.header-left-select-negocio select{
    background: #fff;
    width: 65%;
    font-weight: 400;
    line-height: 30px;
    height: 30px;
    font-size: 16px;
    padding-left: 15px;
    border: solid 1px #f1f1f1;
    -webkit-appearance: none;
    display: inline-block;
    color: rgba(0,0,0,.7);
    border-radius: 3px;
    text-decoration: none;
}
.header-left-select-negocio i{
    pointer-events: none;
    position: absolute;
    right: 18px;
    background-color: #009FE3;
    color: #fff;
    border-radius: 0 3px 3px 0;
    top: 50%;
    transform: translate(5%,-50%);
    width: 30px;
    height: 30px;
    text-align: center;
}
.header-left-select-negocio i:before{
    line-height: 30px;
}

.header-right-user{
    float: right;
    margin-right: 10px;
    position: relative;
}
.header-right-user ul{
    width: 200px;
    background: #fff;
    left: -145px;
    top: 55px;
    height: 100px;
}
.header-right-user a{
    text-decoration: none;
    color: rgba(0,0,0,.6);
}
.header-right-user img{
    padding: 5px 0;
    border-radius: 10px;
}
.title-dashboard{
    text-align: center;
    font-weight: bold;
    padding-bottom: 5px;
    color: #009FE3;
    border-bottom: solid 1px rgba(0,0,0,.1);
}
.cambiar-datos{
    padding: 30px;
}
.cambiar-datos textarea{
    resize: none;
}
.recomendacion{
    border: solid 1px rgba(0,0,0,.1);
    padding: 20px;
    color: rgba(0,0,0,.6);
    position: relative;
    margin-bottom: 20px;
}
.recomendacion i{
    font-size: 60px;
    opacity: .5;
    position: absolute;
    top: 50%;
    color: #009FE3;
    left: 4%;
    transform: translate(0%,-50%);
}

.recomendacion .pright{
    display: inline-block;
    width: 90%;
    margin-left: 10%;
}
.recomendacion .pright ul{
    padding: 0;
}

.recomendacion .pright li{
    list-style: none;
}
.recomendacion .pright li:before{
    content: "";
    display: inline-block;
    width: 8px;
    height: 8px;
    background: rgba(0,0,0,.2);
    border-radius: 50%;
    margin: 1px 10px;
}
.select-nego{
    display: none;
}
.preview-title{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    color: #009fe3;
}
.map-form{
    text-align: center;
}
#pac-input{
    top: 9px !important;
    width: 70% !important;
}

.servicios{
    text-align: center;
    padding: 10px;
}
.servicios a{
    text-decoration: none;
    color: gray;
    text-transform: capitalize;
}
.servicios a.active{
    color: #009FE3;

}

/*=============
Index
=============*/

.about-text{
    padding: 10px;
    text-align: justify;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
.about-us-container{
    padding: 65px 15px;
}
.about-us-container .about-us-text{
    text-align: left;
    padding: 10px;
    font-weight: bold;
}
.about-us-container .about-us-text h1{
    font-size: 40px;
    color: rgba(0,0,0,.6);
}
.about-us-container .about-us-text h2{
    color: rgba(0,0,0,.6);
    font-size: 30px;
    padding-top: 10px;
}
.about-us-container .about-us-text span{
    color: #009fe3;
}


.contenedor-blanco{
    min-height: 332px;
    background: white;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    padding: 15px;

}

.contenedor-transparente{
    padding: 15px;
    min-height: 332px;
}

.mensaje-default-blanco{
    text-align: right;
    padding: 30px 0;
}
.mensaje-default-transparente{
    text-align: left;
    padding: 30px 0;
}
.mensaje-default-blanco h1,.mensaje-default-transparente h1{
    font-size: 22px;
    font-weight: bold;
    color: rgba(0,0,0,.5);
}
.mensaje-default-blanco h2,.mensaje-default-transparente h2{
    font-size: 20px;
    font-weight: bold;
    padding-top: 8px;
    color: #009FE3;
}
.mensaje-default-blanco a, .mensaje-default-transparente a{
    margin-top: 10px;
}


/*=============
Form Stiky
=============*/
.menu-principal2 .navbar-brand{
    padding: 10px;
    height: 73px;
    top: 0;
    background: none;
    position: absolute;
    box-shadow: none;
    border-radius: 0 0 5px 5px;
}
.form-stiky{
    width: 750px;
    position: absolute;
    top: 50%;
    left: 51%;
    transform: translate(-50%,-50%);
}
.form-stiky .form-control{
    width: 70%;
    display: inline-block;
    border: none;
}
.form-stiky .btn-group.bootstrap-select{
    margin-bottom: 2px;
}
.form-stiky .btn-group.bootstrap-select button{
    border: none;
    height: 34px;
    background: #fff;
}
.form-stiky .btn-group.bootstrap-select button:hover{
    background: #fff;
}
.logi-reg .btn-default{
    background: none;
    padding: 0;
}
.logi-reg .btn-default img{
    border: solid 2px #fff;
    padding: 2px;
}
.buttons-change{
    color: #fff;
    text-align: left;
    padding-left: 20px;
}
.buttons-change div{
    display: inline-block;
    padding: 7px 15px;
    font-size: 14px;
    border-radius: 5px 5px 0 0;
    background: rgba(0,0,0,.1);
}
.buttons-change div.active{
    background: rgba(0,0,0,.3);
}


.buttons-change i{
    display: inline;
    padding-right: 5px;
}
.buttons-change #hide3, .buttons-change #hide4{
    cursor:pointer;
}
/*=============
Footer Menu
=============*/
.gecko-firm{
    text-align: center;
    padding-top: 5px;
    opacity: .7;
    color: #fff;
}
.gecko-firm a{
    font-size: 15px !important;
    text-transform: capitalize !important;
}
.menu-footer{
    margin: 0 auto;
    width: 852px;
}
.footer-menu ul{
    margin-top: 20px;
}
.footer-menu a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
}
.footer-menu li{
    width: 170px;
    text-align: center;
}
.footer-menu li:first-child{
    width: auto;
}
.footer-menu li:nth-child(2){
    width: auto;
}
.footer-menu li:nth-child(6){
    width: auto;
}
.footer-menu li:last-child{
    width: auto;
}
.footer-menu li:hover{
    background: none;
}

.socials{
    text-align: center;
    color: #fff;

}
.socials a i{
    display: inline-block;
    width: 25px;
    height: 25px;
}
.socials a{
    font-size: 25px !important;
    padding: 15px;
    border: 1px solid #fff;
    margin: 0 5px;
    border-radius: 50%;
    display: inline-block;
}


.footer-menu .nav>li>a:focus,.footer-menu .nav>li>a:hover{
    background: none;
}


@media only screen and (min-width : 320px) and (max-width : 736px){

    .top-responsive{
        display: none;
    }
    .left-menu{
        display: none;
    }
    .content-dashboard{
        margin: 0;
    }
    .sidr-class-user-welcome{
        min-height: 70px;
    }
    .sidr-class-user-welcome img{
        float: left;
        margin: 10px
    }
    .sidr-class-title{
        float: left;
        opacity: .8;
    }
    .sidr-class-title h2{
        font-size: 15px;
        margin: 0;
        line-height: 37px;
    }
    .sidr-class-title h3{
        font-size: 18px;
        margin: 0;
        font-weight: bold;
    }

    .sidr-class-fa{
        display: inline-block;
        font: normal normal normal 14px/1 FontAwesome;
        font-size: inherit;
        text-rendering: auto;
        -webkit-font-smoothing: antialiased;
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-tachometer:before{
        content: "\f0e4";
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-briefcase:before{
        content: "\f0b1";
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-pencil-square-o:before{
        content: "\f044";
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-picture-o:before{
        content: "\f03e";
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-map:before{
        content: "\f279";
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-shopping-basket:before{
        content: "\f291";
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-plus:before{
        content: "\f067";
    }
    .sidr-class-fa-dashboard:before, .sidr-class-fa-sort:before{
        content: "\f0dc";
    }







}

