html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*=============
Colors

celeste bajo: #30BDEF
celeste fuerte: #1C9CD9
gris: #CDCCCC

=============*/
#s2{
    display: none;
}
#s3{
    display: none;
}
.nav-principal2{
    display: none;
}
/*=============
General
=============*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background: url("../images/assets/brickwall.png");
}
.logo_resp{
    display: none;
}
/*=============
Filtros
=============*/
.list-group .tittle-disable{
    background: #30BDEF;
    color: #fff;
}
.list-group .tittle-disable:hover{
    background: #30BDEF;
    color: #fff;
}
/*=============
Buscador Principal
=============*/
.buscador_principal{
    padding: 5px;
    background: rgba(0, 159, 227,.5);
    border-radius: 5px;
    width: 535px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5)
}

.buscador_categorias{
    padding: 5px;
    background: rgba(0, 159, 227,.6);
    border-radius: 5px;
    width: 760px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2)
}

.selectpicker{
    display: inline-block;
}
.buscador{
    display: inline-block;
    margin:0;
    width:300px;
}



.buscador_principal2{
    padding: 5px;
    background: #30BDEF;
    border-radius: 5px;
    position: relative;

}
.buscador_principal2 form{
    display: inline-block;
}

.search-change2{
    margin-left: 5px;
    margin-top: 13px;
    text-align: center;
    font-size:13px;
    display: inline-block;
}
.search-change2 div{
    font-size: 17px;
    cursor: pointer;
    color: rgba(0,0,0,.5);
}
.search-change2 div:hover{
    color:#1C9CD9;
}

.search-change{
    text-align: center;
    font-size:14px;
    width: 340px;
    padding: 10px 5px 5px 5px;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    background: rgba(0, 159, 227,.5);
}
.search-change span{
    cursor: pointer;
    font-weight: 400;
    color:rgba(255,255,255,.5);
    transition: all .5s;
}
.search-change span:hover{
    color:#fff;
}
#search-cop{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
#search-cop2{
    display: inline-block;
    margin-left: 22%;
}
#search-cop3{
    margin: 20px auto;
}
/*=============
Menu Principal
=============*/
.nav-principal{

    background: #fff;
    margin-bottom: 0;
    z-index: 2;
    border-radius: 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2)
}
.menu-principal .navbar-left li{
    width: 190px;
    text-align: center;
}
.menu-principal ul:first-child{
    margin-top: 22px;
    /*margin-left: 4%;*/
    /*margin-right: 4%;*/
}
.menu-principal ul:first-child li:first-child, .menu-principal ul:first-child li:last-child{
    padding-top:10px;
    width: auto;
}
.nav-principal .menu-principal ul li a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: #30BDEF;
}
.nav-principal .menu-principal .navbar-right li{
    width: 130px;
    text-align: center;
}
.nav-principal .navbar-right{
    margin-top: 30px;
}
.nav-principal .navbar-right #registro{
    background: #30BDEF;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.menu-stiky ul li{
    display: block;
}
.menu-stiky li{
    height: 30px;
}
.nav-principal2 .navbar-brand img{
    width: 150px;
}

.menu-stiky{
    position: absolute;
    display: inline-block;
    margin-top: 8px;
    margin-left: 60px;
}
.menu-stiky ul{
    position: absolute;
}
.menu-stiky button{
    height: 44px;
    width: 170px;
}
.nav-principal2{
    /*height: 85px;*/
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,.05);
}
.nav-principal2 .logi-reg{
    margin-top: 22px;
    display: inline-block;
    float: right;


}
.nav-principal2 .logi-reg #registro{
    background: #30BDEF;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.logi-reg a{
    text-decoration: none;
}
/*=============
Slider
=============*/
.slider img{
    width: 100%;
}

#search-brand{
    color: #9E9E9E;
}
/*=============
About
=============*/
.about-text{
    padding: 20px;
    text-align: center;

    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
}
/*=============
Mejores Proveedores
=============*/
.mejores_tittle{
    padding: 10px;
    color: #1C9CD9;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
}
.list-mejores{
    padding: 10px;
    background: rgba(48,189,239,.2);
    margin-bottom: 20px;
}

.list-mejores .content_slider_wrapper{
    max-height: 200px;
}
.list-mejores .content_slider_text_block_wrap span{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
/*=============
Footer Menu
=============*/
.footer-menu ul{
    margin-top: 35px;
}
.footer-menu a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
}
.footer-menu li:hover{
    background: none;
}
.footer-menu{
    margin-top: 30px;
    height: 200px;
    background: #1C9CD9;
}
footer .footer-menu{
    color: #fff;
}  
.socials{
    margin-top: 15px;
}
.footer-menu .nav>li>a:focus,.footer-menu .nav>li>a:hover{
    background: none;
}
/*=============
Negocio
=============*/
hr.style-two:last-child{
    display: none;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(28, 156, 217, 0.75), rgba(0, 0, 0, 0));
}
.negocio{
    margin:15px 0;
}
.negocio .logotipo{
    text-align: center;
    padding-top: 6px;
}
.negocio .logotipo img{
    width: 150px;
}
.negocio .description{
    padding-left: 30px;
}
.negocio .description h1{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.negocio .description h1 a{
    text-decoration: none;
    color: #1C9CD9;
}
.negocio .description p{
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 20px;
}
.negocio .description p i{
    width: 20px;
    text-align: center;
    color: #1C9CD9;
}
.negocio .banner_pub{
    text-align: center;
}
.negocio .banner_pub img{
    border-radius: 5px;
    margin-top: 6px;

}
/*=============
Details Page
=============*/
.logo_detail_section{
    text-align: center;
    min-height: 470px;
}
.logo_detail_section img{
    box-shadow: 0 0 5px rgba(0,0,0,.4);
}
.logo_detail_section p{
    line-height: 22px;
    margin: 4px 0;
}
.logo_detail_section p i{
    color: #1C9CD9;
}
.logo_detail_section .contactenos_button button{
    width: 80%;
    background: #1C9CD9;
    text-transform: uppercase;
    font-weight: 100;
    margin: 5px 0;
    color: #fff;
}
.social-icons a{
    text-decoration: none;
    font-size: 14px;
}
.social-icons a:hover{

}
.social-icons a:first-child .fa-stack-2x{
    color: #3b5998;
}
.social-icons a:nth-child(2) .fa-stack-2x{
    color: #00aced;
}
.social-icons a:nth-child(3) .fa-stack-2x{
    color: #fbad50;
}
.social-icons a:last-child .fa-stack-2x{
    color: #dd4b39;
}
.logo_detail_section #rateYo{
    margin: 5px auto;
}
.detail_description{
    margin: 30px auto;
    text-align: center;
}
.proyects-links{
    text-align: center;
    margin: 20px auto;
}
.proyects-links img{
    padding: 0 10px;
}
.proyect-slider{
    margin: 10px auto;
}
.comments_details{
    margin: 15px auto;
}
.comments_details h3{
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 10px;
}
.comments_details .rateYo_comments{
    margin: 10px 0;
}
.comments_details .date{
    font-style: italic;
    margin-bottom: 10px;
    font-size:14px;
}
.comments_details .media-body p{
    margin-top: 10px;
}
.googlemaps img{
    margin: 30px auto;
}
/*=============
Producto Page
=============*/
.product-section{
    margin-top: 20px;
}
.product-section .producto-box{
    text-align: center;
    margin: 10px auto;
}
.product-section .producto-box a{
    text-decoration: none;
}
.product-section .producto-box  h1{
    margin: 5px 0;
    text-transform: uppercase;
    font-weight: bold;
    color: #009FE3;
}
.product-section .producto-box  h2{
    font-style: italic;
    margin: 5px 0;
    color: rgba(0,0,0,.5);
}
.product-section .producto-box p{
    color: #009FE3;
}
/*=============
Responsive
=============*/
@media only screen and (max-width:700px){

    .menu-principal ul:first-child li:first-child, .menu-principal ul:first-child li:last-child{
        margin-top: 0;
        padding-top: 0;
    }
    .menu-principal .navbar-left li{
        width: auto;
        text-align: center;
    }
    .nav-principal2{
        display: none;
    }
    .menu-principal2{
        display: none;
    }
    .nav-principal .menu-principal .navbar-right li{
        width: 100%;
    }
    .nav-principal .navbar-right #registro{
        border-radius: 0;
    }
    /*
    .content-slider{
        margin-top: 50px;
    }*/
    #search-cop{
        display: none;
    }
    .buscador_principal{
        margin: 5px auto 25px auto;
        padding: 5px;
        border-radius: 5px;
    }

    .logo_prin{
        display: none;
    }
    .logo_resp{
        display: block;
    }

}

