/*=============
Formularios
=============*/
.comprayventa{
    background: url("../images/fondo2.jpg") center/cover;
}
.constructora{
    background: url("../images/register_inmobiliarias.jpg") center/cover;
}
.especialista{
    background: url("../images/register_especialistas.jpg") center/cover;
}
.proveedores{
    background: url("../images/register_proveedores.jpg") center/cover;
}
.return{
    position: absolute;
    padding: 15px;
    border-radius: 50%;
    background: #009FE3;
    border: 3px solid transparent;
    font-size: 25px;
    left: -30px;
    color: #fff;
    bottom: -30px;
    transition: all .5s ease;
}
.return:hover{
    background: #fff;
    color: #009FE3;
    border: 3px solid #009FE3;
}
.return i{
    width: 25px;
    height: 25px;
}
.form-negocios{
    border-radius: 9px;
    box-shadow: 0 0 0 5px rgba(0, 159, 227,.2);
    width: 600px;
    padding: 25px 15px;
    background: #fff;
    border: solid 3px #009FE3;
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-10%,-50%);
}
.form-negocios .logotipo{
    text-align: center;
}
.titulo-registro{
    position: absolute;
    left: 43%;
    z-index: -1;
    text-align: right;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(0,0,0,.2);
    padding: 10px 21px 10px 145px;
    top: 50%;
    border-radius: 5px;
    margin: 10px;
    transform: translate(0%,-50%);
}
.titulo-registro h1{
    font-size: 40px;
}
.titulo-registro h2{
    font-size: 30px;
    margin-top: 10px;
}
.titulo-registro p{
    width: 600px;
    float: right;
    padding: 20px 0;
    font-weight: 500;
    text-transform: lowercase;
}


.form-negocios .required p{
    padding: 15px 14px;
    opacity: .5;
}
.form-negocios label{
    color: #009fe3;
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: 600;
}

.form-negocios .form-group .alert ul{
    display: inline-block;
    padding-left: 8px;
}
.form-negocios .form-group .alert li{
    font-size: 14px;
}
.comprayventa .form-negocios textarea{
    resize: none;
    height: 104px;
}
.constructora .form-negocios textarea{
    resize: none;
    height: 176px;
}
.especialista .form-negocios textarea{
    resize: none;
    height: 176px;
}
.proveedores .form-negocios textarea{
    resize: none;
    height: 176px;
}

/*=======================
Facebook - Login
========================*/
.fb-button-login {
    background: #5474AB;
    width: 100%;
    height: 40px;
    color: #fff;
    position: relative;
    text-align: center;
    line-height: 40px;
    font-size: 16px;
    cursor: pointer;
}
.fb-button-login i {
    padding-left: 20px;
    position: absolute;
    left: 40px;
    top: 9px;
    font-size: 24px;
}
.fb-button-login strong{
    font-weight: bold;
}

/*=======================
Perfil - Negocios
========================*/
.background-negocios {
    background-image: url('../images/seleccion_fondo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height:100%;
}

.negocios i {
    font-size: 80px;

}
