html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
a{
    text-decoration: none !important;
    color: rgba(0,0,0,.4);
}
a:hover{
    color: rgba(0,0,0,.8);
}


html, body {
    height: 100%;
    margin: 0;
}
#wrap{
    min-height: 100%;
    margin-top: 60px;
}
.content-inside {
    padding-top: 0;
    padding-bottom: 150px;
}
.footer-menu{
    height: 190px;
    margin-top: -150px;
    background: #1c9cd9;
    /*
    margin-top: 30px;
    height: 150px;
    background: #1C9CD9;
    display: block;
    */
}
/*=============
Colors

celeste bajo: #30BDEF
celeste fuerte: #1C9CD9
gris: #CDCCCC

=============*/
#s2{
    display: none;
}
#s3{
    display: none;
}
/*
.nav-principal2{
    display: none;
}*/
/*=============
Formulario de registro
=============*/
.fondo-register{
    background: url(../images/assets/banner3.jpg) center/cover fixed;
}
.registro label:after{
    content: '*';
    position: absolute;
    right: 20px;
}
.form-login h3{
    font-style: italic;
    font-size: 14px;
    margin: 10px 0;
    color: rgba(0,0,0,.4);
}
.form-login ul{
    display: inline;
    padding-left: 10px;
    font-size: 14px;
}
.form-login li{
    display: inline-block;
}
.form-login .alert{
    padding: 8px;
}
.frase{
    position: fixed;
    top: 30%;
    font-size: 50px;
    font-weight: bold;
    color: white;
    text-shadow: 2px 2px 10px rgba(0,0,0,.3);
}
/*=============
Formulario de login
=============*/

.fondo-login{
    background: url(../images/assets/banner3.jpg) center/cover fixed;
}

hr.style-eight {
    padding: 0;
    border: none;
    border-top: thin solid rgba(0,0,0,.2);
    color: rgba(0,0,0,.2);
    text-align: center;
}
hr.style-eight:after {
    content: "ó";
    display: inline-block;
    position: relative;
    top: -0.7em;
    font-size: 1.2em;
    padding: 0 0.25em;
    background: white;
}
.other-session{
    text-align: center;
}
.other-session span{
    padding-top: 10px;
    font-size: 12px;
    font-style: italic;
    margin-bottom: 10px;
    color: rgba(0,0,0,.4);
}
.form-login h1{
    margin-top: 20px;
    margin-bottom: 20px;
    color: #009FE3;
    text-transform: uppercase;
    font-weight: 600;
    text-align: center;
}
.form-login{
    position: relative;
    margin: 5% 20px;
    background: #fff;
    float: right;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    height: auto;
    max-width: 380px;
    min-width: 380px;
}
.form-login form{
    margin: 10px auto;
}
.form-login form label{
    color: #009FE3;
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 400;
}
.form-login form a{
    float: right;
    text-decoration: none;
    color: #009FE3;
    font-size: 14px;
    padding-top: 5px;
    font-style: italic;
}
.btn-cotizacion {
    max-width: 145px;
    margin-top: 15px;
}
.btn-konstruye{

    background:#009FE3 ;
    color: #fff;
    width: 100%;
}
.btn-konstruye:hover{
    background: #008CC4;
    color: #fff;
}
/*=============
General
=============*/

body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;

}
.background-image {
    background: url("../images/assets/brickwall.png");
}
.logo_resp{
    display: none;
}

/*=============
Buscador Principal
=============*/
#ui-id-1 .ui-menu-item{
    padding: 10px;
}
#ui-id-2 .ui-menu-item{
    padding: 10px;
}
#ui-id-3 .ui-menu-item{
    padding: 10px;
}
#ui-id-4 .ui-menu-item{
    padding: 10px;
}
#ui-id-2{
    z-index: 9999;
}
#ui-id-1{
    z-index: 9999;
}
#ui-id-3{
    z-index: 9999;
}
.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active,
a.ui-button:active,
.ui-button:active,
.ui-button.ui-state-active:hover {
    background: none;
    border: 0;
    color: #000;
    text-decoration: none;
    
}
.buscador_principal{
    padding: 5px;
    background: rgba(0, 159, 227,.5);
    border-radius: 5px;
    width: 535px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,.5)
}

.buscador_categorias{
    padding: 5px;
    background: rgba(0, 159, 227,.6);
    border-radius: 5px;
    width: 760px;
    margin: 0 auto;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2)
}

.selectpicker{
    display: inline-block;
}
.buscador{
    display: inline-block;
    margin:0;
    width:300px;
}
.buscador_principal2{
    padding: 5px;
    background: #30BDEF;
    border-radius: 5px;
    position: relative;
}
.buscador_principal2 form{
    display: inline-block;
}

.search-change2{
    margin-left: 5px;
    margin-top: 13px;

    font-size:13px;
    display: inline-block;
}
.search-change2 div{
    font-size: 17px;
    cursor: pointer;
    color: rgba(0,0,0,.5);
}
.search-change2 div:hover{
    color:#1C9CD9;
}
.search-change2 div.active{
    color:#1C9CD9;
}
.search-change2 div:after{
    transition: all .5s;
}

.search-change2 div:first-child:hover:after{
    content: ' Negocios';
    font-size: 14px;
}
.search-change2 div:last-child:hover:after{
    content: ' Productos';
    font-size: 14px;
 }


.search-change{
    text-align: center;
    font-size:14px;
    width: 340px;
    padding: 10px 5px 5px 5px;
    margin: 0 auto;
    border-radius: 5px 5px 0 0;
    background: rgba(0, 159, 227,.5);
}
.search-change span{
    cursor: pointer;
    font-weight: 400;
    color:rgba(255,255,255,.5);
    transition: all .5s;
}
.search-change span:hover{
    color:#fff;
}
.search-change span.active{
    color:#fff;
}
#search-cop{
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

#search-cop3{
    margin: 20px auto;
}
/*=============
Navigation
=============*/
.navigation{
    text-align: right;
}
.navigation li a{
    background: #1C9CD9;
    color: #fff;
    border: solid 1px #fff;
}
.navigation li.current a{
    background: #fff;
    color: #1C9CD9;
}
.navigation li a:hover{
    border:solid 1px #1C9CD9;
    background: #fff;
    color: #1C9CD9;
}

/*=============
Flash Alert
=============*/
/*
.flash-success{
    text-align: center;
    padding: 10px;
    margin: 10px 0;
    background: rgba(0,255,0,.3);
    color: rgba(0,0,0,.6);
    border-radius: 5px;
}
*/

/*=============
Dropdown Menu principal
=============*/
.navbar-right .drop-menu{
    width: 200px;
    height: 150px;
    right: -20px;
    padding: 0px;
    padding-top: 10px;
    padding-right: 0;
    padding-left: 0;
    padding-bottom: 15px;
}
.navbar-right .drop-menu a{
    margin: 5px auto;
    width: 100%;
    display: inline-block;
    height: 35px;
    color: rgba(0,0,0,.5) !important;
    position: relative;
    padding-left: 40px;
    padding-top: 12px;
    text-align: left;
    transition: all .5s;
}
.navbar-right .drop-menu a:hover{
    background: #30BDEF;
    color: #fff !important;
}
.navbar-right .drop-menu a:hover i{
    color: #fff;
}
.navbar-right .drop-menu a i{
    position: absolute;
    left: 15px;
    margin-right: 8px;
    color: #30BDEF;
    font-size: 21px;
    top: 8px;
    width: 30px;
    display: inline-block;
    transition: all .5s;
}
.navbar-right .drop-menu a:before{
    content: "| ";
    display: inline;
}

.navbar-right .dropdown .btn-default{
    border: none;
    position: relative;
}
.btn-default.active, .btn-default:active, .open>.dropdown-toggle.btn-default{
    background: none;
}
.navbar-right .dropdown .btn-default:hover, .navbar-right .dropdown .btn-default:focus, .navbar-right .dropdown .btn-default:active{
    background: none;
    outline: none;
    border: none;
    box-shadow: none;
}
/* menu 2 */

.nombre-usuario {
    font-size: 12px;
    /* text-transform: uppercase; */
    color: #a0a0a0;
}

.caret .menu-static{
    vertical-align: top;
    display: inline-block;
    margin-top: 25px;
    margin-left: 6px;
    transform: scale(1.3);
    position: absolute;
    top: 0;
    left: 7px;
    color: #a0a0a0;
}

span#caret {
    color: #a0a0a0;
}

/*=============
Menu Principal
=============*/

.nav-principal{
    min-height: 112px;
    background: #fff;
    margin-bottom: 0;
    z-index: 2;
    border-radius: 0;
    box-shadow: 2px 2px 10px rgba(0,0,0,.2)
}
.menu-principal .navbar-left li{
    width: 200px;
    height: 70px;
    text-align: center;
}
.menu-principal ul:first-child{
    margin-top: 22px;
    /*margin-left: 4%;*/
    /*margin-right: 4%;*/
}
.menu-principal ul:first-child li:first-child,.menu-principal ul:first-child li:nth-child(2){
    width: auto;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
    color: #808080;
}
.nav-principal .menu-principal ul li a{
    text-transform: uppercase;
    font-weight: 400;
    font-size: 12px;
    color: #009FE3;
}
.nav-principal .menu-principal ul li.current a{
    font-weight: bold;
}

.nav-principal .menu-principal ul.navbar-left li a:after{
    content: " ";
    height: 30px;
    position: absolute;
    width: 1px;
    top: 20px;
    right: 0;
    background: rgba(0,0,0,.1);
}
.nav-principal .menu-principal ul.navbar-left li:last-child a:after{
    content: " ";
    display: none;
}
.nav-principal .menu-principal ul.navbar-left li:nth-child(1) a,.nav-principal .menu-principal ul.navbar-left li:nth-child(2) a{
    line-height: 70px;
    padding: 0 15px;
}

.nav-principal .menu-principal .navbar-right li{
    width: 130px;
    text-align: center;
}
.nav-principal .navbar-right{
    margin-top: 22px;
}

.dropdown-menu>li>a:first-letter{
    text-transform: uppercase;
}
.menu-stiky ul li{
    display: block;
}
.menu-stiky li{
    height: 30px;
}


.menu-stiky{
    position: absolute;
    display: inline-block;
    margin-top: 8px;
    margin-left: 60px;
}
.menu-stiky ul{
    position: absolute;
}
.menu-stiky button{
    height: 44px;
    width: 170px;
}
.nav-principal2{
    background: rgb(28, 156, 217);
    border: none;
    height: 60px;
    box-shadow: 2px 2px 5px rgba(0,0,0,.2);
}


.navbar-right li .logout{
    display: inline-block;
    width: auto;
}
/*=============
Formulario de Comentarios
=============*/

.star-form{
    margin-bottom: 30px;
}
.star-form label{
    color: #30BDEF;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.star-form .btn-konstruye{
    width: auto;
}
.star-form ul{
    display: inline;
    padding-left: 10px;
    font-size: 14px;
}
.star-form li{
    display: inline-block;
}
.star-form .alert{
    padding: 8px;
}
/*=============
Counter Rating
===============*/
div.rating-container {
    position: relative;
}
div.rating-container div.counter {
    display: none;
    position: absolute;
    min-width: 20px;
    padding: 5px;
    font-size: 15px;
    line-height: 0px;
    height: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    top: 50%;
    right: 123px;
    margin-top: -10px;
    color: white;
}
div.rating-container div.counter:before,
div.rating-container div.counter ::before {
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    margin-top: -5px;
    display: block;
    border-color: transparent rgba(0, 0, 0, 0.8) transparent transparent;
    border-width: 5px 5px 5px 0px;
    left: -10px;
    border-style: solid;
    position: relative;
}
div.rating-container:hover div.counter {
    display: block;
}

/*=============
Resultado
=============*/
.resultado{
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(0,0,0,.5);
}
.resultado h1 strong{
    font-weight: bold;
}
/*=============
Slider
=============*/
.slider img{
    width: 100%;
}

#search-brand{
    color: #9E9E9E;
}


/*=======================
Show_Proveedores
=======================*/
.btn-comentar {
    width: 98px;
    margin-top: 15px;
}

.contenedor-registrate {
    display: inline-block;
}

.comments_details .media.comment .media-left {
    position: relative;
}


/*=======================
Popup - Comentario_Negocio
========================*/
.contenedor-popup-comentario {

    background-color:#fff;
    padding: 20px 40px;
    margin: 0 auto;
    display: table;
    position: relative;
    max-width: 390px;
    width: 85%;
}
.contenedor-popup {
    display: table-cell;
    vertical-align: middle;
}
.popup-comentario-titulo h1{
    color: #1c9cd9;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 30px 0;
}
.contenedor-popup-comentario label {
    color: rgba(0,0,0,.5);
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 15px;
}
.contenedor-popup-comentario  textarea {
    height: 200px;
    resize: none;
}

div#container-alert {
    color: #1c9cd9;
    font-size: 14px;
    margin: 8px 0;
    font-weight: 400;
}


/*=============
Negocio
=============*/
hr.style-two:last-child{
    display: none;
}
hr.style-two {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(28, 156, 217, 0.75), rgba(0, 0, 0, 0));
}
.negocio{
    margin:15px 0;
}
.negocio .logotipo{
    text-align: center;
    padding-top: 6px;
}
.negocio .logotipo img{
    width: 150px;
}
.negocio .description{
    padding-left: 30px;
}
.negocio .description h1{
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.negocio .description h1 a{
    text-decoration: none;
    color: #1C9CD9;
}
.negocio .description p{
    font-size: 14px;
    margin-bottom: 4px;
    line-height: 20px;
}
.negocio .description p i{
    width: 20px;
    text-align: center;
    color: #1C9CD9;
}
.negocio .banner_pub{
    text-align: center;
}
.negocio .banner_pub img{
    border-radius: 5px;
    margin-top: 6px;

}

/* ================================
 REGISTRAR PROV. INM. ESPEC. CONST.
 =================================*/
.contenedor-registrate-image {
    padding:0;
}
.contenedor-registrate-image .background-imagen-registrate-proveedor {
    background-image: url('../images/register_proveedor.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.contenedor-registrate-image .background-imagen-registrate-compraventa {
    background-image: url('../images/register_comprayventa.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.contenedor-registrate-image .background-imagen-registrate-especialista {
    background-image: url('../images/register_especialista.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.contenedor-registrate-image .background-imagen-registrate-constructora {
    background-image: url('../images/register_inmobiliarias.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height:100%;
}
.contenedor-logo-registrate,.contenedor-logo-titulo {
    text-align: center;
}
.contenedor-logo-titulo h1 {
    color: #1c9cd9;
    text-align: center;
    font-weight: 600;
    font-size: 25px;
    padding: 25px 0;
}
.contenedor-form label {
    color: rgba(0,0,0,.5);
    font-size: 15px;
    font-weight: bold;
}
.btn-registrate {
    max-width: 105px;
}
.actif{
    font-weight: bold!important;
}

/*=============
Producto Detail Page
=============*/
.product-detail-section{
    margin-top: 30px;
}
.product-detail-section h1{
    font-size: 30px;
    color: #009FE3;
    font-weight: bold;
}
.product-detail-section h2{
    padding: 10px 0;
    font-style: italic;
}
.product-detail-section p{
    color: rgba(0,0,0,.5);
}
/*.product-detail-section span{
    color: #009FE3;
    font-size: 20px;
    padding: 10px 0 0 0;
    display: block;
}*/
.product-section h4{
    padding-left: 30px;
    font-size: 16px;
    margin-bottom: 10px;
    color: #009FE3;
    font-weight: bold;
}
/*=============
Contáctenos
=============*/
.fondo-contactenos{
    background: url(../images/assets/contactenos_fondo.jpg) center/cover fixed;
}


/*=============
Responsive
=============*/
@media only screen and (max-width:700px){

    .menu-principal ul:first-child li:first-child, .menu-principal ul:first-child li:last-child{
        margin-top: 0;
        padding-top: 0;
    }
    .menu-principal .navbar-left li{
        width: auto;
        text-align: center;
    }
    .nav-principal2{
        display: none !important;
    }
    .menu-principal2{
        display: none;
    }
    .nav-principal .menu-principal .navbar-right li{
        width: 100%;
    }
    .nav-principal .navbar-right #registro{
        border-radius: 0;
    }
    /*
    .content-slider{
        margin-top: 50px;
    }*/
    #search-cop{
        display: none;
    }
    .buscador_principal{
        margin: 5px auto 25px auto;
        padding: 5px;
        border-radius: 5px;
    }

    .logo_prin{
        display: none;
    }
    .logo_resp{
        display: block;
    }

}

