html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
/*=============
Colors

celeste bajo: #30BDEF
celeste fuerte: #1C9CD9
gris: #CDCCCC

=============*/


/*=============
General
=============*/
body{
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    background: url("../images/assets/small_steps2.png");
}
.logo_resp{
    display: none;
}
/*=============
Buscador Principal
=============*/
.buscador_principal{
    margin: 5px 20% 25px 20%;
    padding: 5px;
    background: #30BDEF;
    border-radius: 5px;
}
.buscador_principal2{
    padding: 5px;
    background: #30BDEF;
    border-radius: 5px;
    position: relative;

}
.buscador_principal2 form{
    display: inline-block;
}

.search-change2{
    margin-left: 5px;
    margin-top: 13px;
    text-align: center;
    font-size:13px;
    display: inline-block;
}
.search-change2 div{
    font-size: 17px;
    cursor: pointer;
    color:#CDCCCC;
}
.search-change2 div:hover{
    color:#1C9CD9;
}

.search-change{
    text-align: center;
    font-size:13px;
}
.search-change span{
    cursor: pointer;
    color:#CDCCCC;
}
.search-change span:hover{
    color:#1C9CD9;
}
#search-cop{
    display: block;
}
#search-cop2{
    display: inline-block;
    margin-left: 22%;
}
/*=============
Menu Principal
=============*/
.nav-principal{
    background: #fff;
    margin-bottom: 0;
}
.menu-principal ul li{
    width: 190px;
    text-align: center;
}
.menu-principal ul:first-child{
    margin-top: 15px;
    margin-left: 4%;
    margin-right: 4%;
}
.menu-principal ul:first-child li:first-child, .menu-principal ul:first-child li:last-child{
    width: auto;
}
.nav-principal .menu-principal ul li a{
    text-transform: uppercase;
    font-weight: 100;
    font-size: 12px;
    color: #30BDEF;
}
.nav-principal .navbar-right{
    margin-top: 30px;
}
.nav-principal .navbar-right #registro{
    background: #30BDEF;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}

.menu-stiky ul li{
    display: block;
}
.menu-stiky li{
    height: 30px;
}
.nav-principal2 .navbar-brand img{
    width: 150px;
}

.menu-stiky{
    position: absolute;
    display: inline-block;
    margin-top: 8px;
    margin-left: 60px;
}
.menu-stiky ul{
    position: absolute;
}
.menu-stiky button{
    height: 44px;
    width: 170px;
}
.nav-principal2{
    /*height: 85px;*/
    background: #fff;
    box-shadow: 2px 2px 5px rgba(0,0,0,.05);
}
.nav-principal2 .logi-reg{
    margin-top: 22px;
    display: inline-block;
    float: right;


}
.nav-principal2 .logi-reg #registro{
    background: #30BDEF;
    padding: 5px;
    border-radius: 5px;
    color: #fff;
}
.logi-reg a{
    text-decoration: none;
}
/*=============
Slider
=============*/
.slider img{
    width: 100%;
}
/*
.content-slider{
    margin-top: 187px;
}*/
#search-brand{
    color: #9E9E9E;
}
/*=============
About
=============*/
.about-text{
    padding: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 100;
    font-style: italic;
}
/*=============
Mejores Proveedores
=============*/
.mejores_tittle{
    padding: 10px;
    color: #1C9CD9;
    text-transform: uppercase;
    font-style: italic;
    font-weight: 400;
}
.list-mejores{
    padding: 10px;
    background: rgba(48,189,239,.2);
    margin-bottom: 20px;
}

.list-mejores .content_slider_wrapper{
    max-height: 200px;
}
.list-mejores .content_slider_text_block_wrap span{
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 100;
    font-family: 'Open Sans', sans-serif;
}
/*=============
Footer Menu
=============*/
.footer-menu ul{
    margin-top: 35px;
}
.footer-menu a{
    color: #fff;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 100;
}
.footer-menu li:hover{
    background: none;
}
.footer-menu{
    height: 200px;
    background: #1C9CD9;
}
footer .footer-menu{
    color: #fff;
}  
.socials{
    margin-top: 15px;
}
/*=============
Responsive
=============*/
@media only screen and (max-width:700px){
    .nav-principal2{
        display: none;
    }

    /*
    .content-slider{
        margin-top: 50px;
    }*/
    #search-cop{
        display: none;
    }
    .buscador_principal{
        margin: 5px auto 25px auto;
        padding: 5px;
        background: #30BDEF;
        border-radius: 5px;
    }
    .menu-principal ul li{
        width: auto;
        text-align: center;
    }
    .logo_prin{
        display: none;
    }
    .logo_resp{
        display: block;
    }

}

