{% extends "FOSUserBundle::Profile/Panel/panel_layout.html.twig" %}

{% block content_section %}

        {#
         {{ dump(negocio) }}
        #}

    <div class="bienvenido-dashboard">
        <img width="300px" src="{{ asset('images/logo-sq-color.svg') }}" alt=""/>
        <p>¡Bienvenido(a) <strong>{{ negocio.user.nombres }}</strong> a tu Panel de Negocios!</p>
    </div>



{% endblock %}