{% trans_default_domain 'FOSUserBundle' %}

<title>Recuperar Contraseña</title>

<div class="for-password">
    <div class="title-default">
        Restablecer <span>Contraseña</span>
    </div>

    <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="fos_user_resetting_request">
        <div class="form-group">
            {% if invalid_username is defined %}
                <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
            {% endif %}
            <label for="username">{{ 'resetting.request.username'|trans }}</label>
            <input class="form-control" type="text" id="username" name="username" required="required" />
        </div>
        <div>
            <input class="btn btn-konstruye2" type="submit" value="{{ 'resetting.request.submit'|trans }}" />
        </div>
    </form>
</div>

