{% trans_default_domain 'FOSUserBundle' %}


<title>Recuperar Contraseña</title>

<div class="resseting-group">


    <div class="title-default">
        Restablecer <span>Contraseña</span>
    </div>

    {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'fos_user_resetting_reset' } }) }}

    <div class="form-group">

        <div class="resseting-pass">
            {{ form_widget(form) }}
        </div>


        <div style="margin-top: 10px">
            <input type="submit" class="btn btn-konstruye2" value="{{ 'resetting.reset.submit'|trans }}" />
        </div>
    </div>



    {{ form_end(form) }}
</div>


