<div class="list-group">
    <a href="javascript:void(0)" class="list-group-item disabled tittle-disable">{{ cmain.nombre }}</a>
    {% for csub in cmain.children %}
        <a href="#" class="list-group-item">{{ csub.nombre }}</a>
    {% endfor %}
</div>
