<div class="list-group">
    <a href="{{ path('lisdato_seccion', {"slug_categoria":cmain.slug, "slug_seccion":app.request.get('slug_seccion')}) }}" class="list-group-item tittle-disable">{{ cmain.nombre }}</a>
    {% for csub in cmain.children %}
        <a href="{{ path('lisdato_seccion', {"slug_categoria":csub.slug, "slug_seccion":app.request.get('slug_seccion')}) }}" class="list-group-item">{{ csub.nombre }}</a>
    {% endfor %}
</div>
