<ul>
    {% for p in proyectos %}
        <li class="link_proyecto">
            <a href="javascript:void(0)" data-url="{{ path('show_fotos_proyecto',{'id':p.id}) }}">
                <div class="col-md-8">
                    <img src="http://placehold.it/160x105x?text=Proyecto+1" alt="" />
                </div>
                <div class="col-md-3">
                    <span>{{ p.nombre }}</span>
                </div>

            </a>
        </li>
    {% endfor %}

</ul>